body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

.main-intro {
  padding-top: 60px;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.navbar {
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

.navbar a {
  color: white;
  margin-right: 40px; /* Adjust the spacing between navigation items */
}

.main-social-icon {
  padding-top: 50px;
  padding-right: 15px;
  width: 60px;
  height: 60px;
}

.main-profile-pic {
  padding-top: 50px;
  border: 20px, white;
  width: 220px;
  height: 220px;
}